# The private input files directory is for files that should not be included in
# Git or Docker, such as UMLS files.
input_files/private 
__pycache__/
babel_downloads/
babel_outputs/
.snakemake/
.env
.idea
