wheel
jsonlines
requests
pandas
biopython
sparqlwrapper
pyyaml
python-Levenshtein-wheels
pytest
pytest-cov
apybiomart
datrie
snakemake
bmt
pyoxigraph
psycopg2-binary

# Added by Gaurav, Jan 2022
xmltodict
