apybiomart
biopython
bmt
datrie
jsonlines
pandas
more-itertools==8.13.0
pyoxigraph~=0.2.5
psycopg2-binary
pytest
pytest-cov
python-Levenshtein-wheels
pyyaml
requests
snakemake
sparqlwrapper
# Added by Gaurav, Jan 2022
xmltodict
wheel
